@font-face{
    font-family: "aexon";
    src: url("fonts/aexon.ttf")
}

body{
    background: initial;
}
html {
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.center{
    text-align: center !important;
}
.force-center{
    margin: 0 auto !important;
}
.left{
    text-align: left !important;
}
.logo{
    display: inline-block;
}
.block{
    display: block;
}
.logo-small {
    width: 128px;
    height: 128px;
}
.aexon {
    font-family: "aexon";
}
.navigation {
    letter-spacing: 5px;
    color: white;
}
.home-menu {
    display: inline-block;
}
.logo-menu {
    font-size: 64px;
    text-decoration: underline;
}
a.logo-link {
    color: white;
}
.home-menu.home{
    display:none;
}
.card {
    max-width: 300px;
    margin: 0 auto;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
}
.card:hover .card-image{
    transform: scale(1.07);
}
.card-image{
    transition: transform 0.2s ease-in-out;
}
.divider {
    position: relative;
    top: -3px;
}
.contacts-page {
    padding-top: 2em;
    color:white;
    letter-spacing: 3px;
}
.links a.ignore-js {
    display: block;
}
.coming-soon{
    font-weight: bold;
    height: 144px;
    padding-top: 20%;
}
.container:has(.card:hover) .card:not(:hover){
    opacity: 0.66;
}
.card-img-top{
    min-height: 300px;
    box-shadow: inset 0 0 0px 200px grey;
}
#releases-content .card-group{
    margin-bottom: 16px;
}
.card{
    border:none;
}
.card:not(.in-screen){
    opacity: 0 !important;
}
.card.in-screen{
    opacity: 1;
    transition: all 0.5s;
}
.navigation a {
    color: white;
    font-size: x-large;
    background: 
		linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
		linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
	background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
     background-repeat: no-repeat;
	transition: background-size 400ms;
}
  
.navigation a:hover, .navigation a:focus {
    background-size: 0 0.1em, 100% 0.1em;
    text-decoration: none;
  }
@media (max-width: 576px) {
    .navigation .logo{
        display: none;
    }
    .home-menu{
        display: block;
    }
    .home-menu.home {
        display: initial;
    }
    .logo-menu {
        font-size: 2.5rem;
        border-bottom: solid white;
        text-decoration: none;
    }
    .divider{
        display: none;
    }
}
